.ox-message {
  --ox-message-bg-color: var(--ox-color-info-light-9);
  --ox-message-border-color: var(--ox-border-color-lighter);
  --ox-message-padding: 15px 19px;
  --ox-message-close-size: 16px;
  --ox-message-close-icon-color: var(--ox-text-color-placeholder);
  --ox-message-close-hover-color: var(--ox-text-color-secondary);
  --ox-message-icon-size: 16px;
  --ox-message-icon-margin: 8px;
}

.ox-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--ox-border-radius-base);
  border-width: var(--ox-border-width);
  border-style: var(--ox-border-style);
  border-color: var(--ox-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--ox-message-bg-color);
  padding: var(--ox-message-padding);
  display: flex;
  align-items: center;
  transition: top var(--ox-transition-duration), opacity var(--ox-transition-duration),
    transform var(--ox-transition-duration);
  .ox-message__icon {
    color: var(--ox-message-text-color);
    font-size: var(--ox-message-icon-size);
    width: var(--ox-message-icon-size);
    margin-right: var(--ox-message-icon-margin);
  }
  .ox-message__content {
    color: var(--ox-message-text-color);
    overflow-wrap: break-word;
  }
  &.is-close .ox-message__content {
    padding-right: 10px;
  }
  &.text-center {
    justify-content: center;
  }
  .ox-message__close {
    display: flex;
    align-items: center;
  }
  .ox-message__close .ox-icon {
    cursor: pointer;
  }
}

@each $val in info, success, warning, danger {
  .ox-message--$(val) {
    --ox-message-bg-color: var(--ox-color-$(val)-light-9);
    --ox-message-border-color: var(--ox-color-$(val)-light-8);
    --ox-message-text-color: var(--ox-color-$(val));
    .ox-message__close {
      --ox-icon-color: var(--ox-color-$(val));
    }
  }
}

.ox-message--xoror {
  --ox-message-bg-color: var(--ox-color-danger-light-9);
  --ox-message-border-color: var(--ox-color-danger-light-8);
  --ox-message-text-color: var(--ox-color-danger);
  .ox-message__close {
    --ox-icon-color: var(--ox-color-danger);
  }
}

.ox-message.fade-up-enter-from,
.ox-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
